{% if get._pjax is not defined %}
<!DOCTYPE html><html lang="en"><head>
		<meta charset="utf-8">
		<title>{{ config('general.name') }}</title>
		<link rel="stylesheet" type="text/css" href="/css/n3ds/style.css">
		<script src="/js/src/cave-emulation.js"></script>
		<script src="/js/n3ds/libs.js"></script>
		<script src="/js/n3ds/olv.js"></script>
		<script src="/js/n3ds/olv.locale-en.js"></script>
	</head>
	<body data-user-id="{{ user.username }}" data-is-first-post="{% if user.posted %}0{% else %}1{% endif %}" data-is-first-favorite="{% if user.favorited %}0{% else %}1{% endif %}" data-profile-url="/users/{{ user.username }}">
{% endif %}
		<div id="body" {% if class is defined %}class="{{ class }}" {% endif %}data-region-id="2">
			{% block content %}
			{% endblock %}
		</div>
{% if get._pjax is not defined %}
	</body>
</html>
{% endif %}
