<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ config('general.name') }}</title>
		<link rel="stylesheet" type="text/css" href="/css/n3ds/style.css">
		<script src="/js/src/cave-emulation.js"></script>
		<script src="/js/n3ds/complete-en.js"></script>
	</head>
	<body>
		<div id="body">
			<div id="header">
				<div id="header-body">
					<h1 id="page-title">
						<span>Error</span>
					</h1>
				</div>
			</div>
			<div class="body-content">
				<div class="no-content-window">
					<div class="window">
						<p>The screen could not be displayed.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
