{% extends '@wiiu/_master.twig' %}
{% from '@wiiu/_macros.twig' import header %}

{% block content %}
    {{ header(console.filter, false, '') }}
    <div class="body-content" id="community-top">
        <div class="community-list">
        {% for title in communities %}
        {% else %}
        <div class="no-content-window">
            <div class="window">
                <p>{{ __('community.listing.communities.empty') }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}