{% extends '@ctr/_master.twig' %}

{% block content %}
			<div id="welcome-start" class="guest-page">
				<div class="window-page">
					<div class="window welcome-window">
						<div class="window-title">
							<p>{{ __('gate.welcome_guest.title', { name: config('general.name') }) }}</p>
						</div>
						<div class="window-body">
							<div class="window-body-inner message">
								<p>{{ __('gate.welcome_guest.message') }}</p>
								<a href="#" class="black-button register">{{ __('gate.welcome_guest.link') }}</a>
								<a href="#" class="more-button" data-sound="SE_CTR_COMMON_SYSAPPLET_END">{{ __('gate.welcome_guest.exit') }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}